<footer class="footer-main">
  <span class="footer-team-members">Made by Jorge Gonzales, Saida Brito and Wilber Carrascal.</span>
  <a href="https://github.com/jorgeluis594/finereads" target="_blank">
    <img class="footer-repo-link" src="/assets/github_logo.png">
  </a>
</footer>