<div class="landing-hero">
  <img class="landing-hero-img" src="/assets/lc7xcWebECc.png">
  <div class="landing-hero-detail">
    <div class="detail-main">
      <h1 class="landing-title">Meet <span class="landing-title-light">Fine</span>reads</h1>
      <h1 class="landing-title">Your new personal Library</h1>
      <br>
      <a class="landing-btn" href="/search">Get started</a>
    </div>
    <div class="detail-footer">
      <%= erb :footer %>
    </div>
  </div>
</div>
