<h1>My books</h1>

<table>
  <thead>
  <tr>
    <th scope="col">Cover</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Status</th>
    <th scope="col">Date added</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= img %></td>
    <td>asdasd</td>
    <td>asdasd</td>
    <td>asdasd</td>
    <td>asdasd</td>
    <td>
      <a href="#"><span>Edit</span></a>
      <a href="#"><span>Delete</span></a>
    </td>
  </tr>
  </tbody>
</table>