<div class="navbar_container">
  <nav class="navbar_elemnts">
  <img src="/images/Finereads.png" alt="Finereads Logo">

  <span class="links_container">
    <a href="/books" class="navbar_links">My books</a>
    <a href="/search" class="navbar_links">Find Books</a>
  </span>
</nav>
</div>
