<div class="navbar_container">
  <nav class="navbar_elemnts">
    <a href="/"><img src="/images/Finereads.png" alt="Finereads Logo"></a>

  <span class="links_container">
    <a href="/list-books/" class="navbar_links">My books</a>
    <a href="/search" class="navbar_links">Find Books</a>
  </span>
</nav>
</div>
