<section class="search">
    <p class="search-title">Find your next book to read</p>
    <form action="/seach" class="search-form" method="POST">
        <input type="text" name="searchbook" placeholder="Search a book..." class="search-book">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </form>

    <div class="container-books">
        <article class="book">
            <div class="book-portada">
                <img src="" alt="holas" class="book-img">
            </div>
            <a href="#" class="book-buttom">Want to Read</a>
            <a href="#" class="book-read">Mark as read</a>
        </article>
        <article>dsa</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
        <article>sd</article>
    </div>
</section>