.landing-hero {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #FFFAF0;
}

.landing-hero-img {
    width: 50vw;
}

.landing-hero-detail {
    width: 50vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    
    font-size: 28px;
    line-height: 37px;
    font-weight: 400;
    margin: 12px 0;
}

.landing-title-light {
    font-weight: 100;
}

.landing-btn {
    box-sizing: content-box;
    text-decoration: none;
    background: #F6AD55;
    color: #1A202C;
    padding: 8px 14px;
}

.detail-footer {
    margin-top: 100px;
}

/*.footer-main {*/
/*    margin-top: 500px;*/
/*}*/